a1=int(input())    #столбец
b1=int(input())    #строка
a2=int(input())    
b2=int(input())    
e=1
if a1==a2 and b1>b2:
    i=b1-b2
    if i==e:
        b2+=i
        if a1==a2 and b1==b2:
            print("YES")
        else:
            print("NO")
    else:
        print("NO")
elif a1==a2 and b1<b2:
    i=b2-b1
    if i==e:
        b1+=i
        if a1==a2 and b1==b2:
            print("YES")
        else:
            print("NO")
    else:
        print("NO")
elif a1>a2 and b1==b2:
    i=a1-a2
    if i==e:
        a2+=i
        if a1==a2 and b1==b2:
            print("YES")
        else:
            print("NO")
    else:
        print("NO")
elif a1<a2 and b1==b2:
    i=a2-a1
    if i==e:
        a1+=i
        if a1==a2 and b1==b2:
            print("YES")
        else:
            print("NO")
    else:
        print("NO")
elif a1>a2 and b1>b2:
    i=a1-a2
    n=b1-b2
    if i==e and n==e:
        a2+=i
        b2+=n
        if a1==a2 and b1==b2:
            print("YES")
        else:
            print("NO")
    else:
        print("NO")
elif a1>a2 and b1<b2:
    i=a1-a2
    n=b2-b1
    if i==e and n==e:
        a2+=i
        b1+=n
        if a1==a2 and b1==b2:
            print("YES")
        else:
            rpint("NO")
    else:
        print("NO")
elif a1<a2 and b1<b2:
    i=a2-a1
    n=b2-b1
    if i==e and n==e:
        a1+=i
        b1+=n
        if a1==a2 and b1==b2:
            print("YES")
        else:
            rpint("NO")
    else:
        print("NO")    
elif a1<a2 and b1>b2:
    i=a2-a1
    n=b1-b2
    if i==e and n==e:
        a1+=i
        b2+=n
        if a1==a2 and b1==b2:
            print("YES")
        else:
            rpint("NO")
    else:
        print("NO") 
else:
    print("NO")
